/*--------------------------------------------------------------------------------------------
	CSS template for Cloudflare Pages
	About: A shiny new static website template
	Previous Author: David Tofan github.com/DavidJKTofan/cloudflare-pages-template

        Modified by Saskia Ostermann Toutatis
	Version: STYLE.CSS 1.0
	Built with Blocs in Mind
---------------------------------------------------------------------------------------------*/
body{
	margin:0;  /* Remove default body margin */
	padding:0;
    color:#000000;
    background:#FFFFFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-container{overflow: hidden;} /* Prevents unwanted scroll space when scroll FX used. */
a,button{transition: background .3s ease-in-out;outline: none!important;} /* Prevent blue selection glow on Chrome and Safari */
a:hover{text-decoration: none; cursor:pointer;}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 20px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	display:flex;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
	position:relative;
}


/* Sizes */

.bloc-lg{
	padding:100px 20px;
}

/* = Full Screen Blocs 
-------------------------------------------------------------- */

.bloc-fill-screen{
	min-height:100vh;
	display: flex;
	flex-direction: column;
	padding-top:20px;
	padding-bottom:20px;
}
.bloc-fill-screen > .container{
	align-self: flex-middle;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
}
.bloc-fill-screen > .container > .row{
	flex-grow: 1;
	align-self: center;
	width:100%;
}
.bloc-fill-screen .fill-bloc-top-edge, .bloc-fill-screen .fill-bloc-bottom-edge{
	flex-grow: 0;
}
.bloc-fill-screen .fill-bloc-top-edge{
	align-self: flex-start;
}
.bloc-fill-screen .fill-bloc-bottom-edge{
	align-self: flex-end;
}


/* Light theme */

.d-bloc .card,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .btn-wire,.d-bloc .card .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-clear{
	margin:0;
}
.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.btn-rd{
	border-radius: 10px;
}

/* = Icons
-------------------------------------------------------------- */
.icon-md{
	font-size:30px!important;
}


/* = Masonary
-------------------------------------------------------------- */
.card-columns .card {
	margin-bottom: 0.75rem;
}
@media (min-width: 576px) {
	.card-columns {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 1.25rem;
	-moz-column-gap: 1.25rem;
	column-gap: 1.25rem;
	orphans: 1;
	widows: 1;
}
.card-columns .card {
	display: inline-block;
	width: 100%;
}


/* = MacBook Devices
-------------------------------------------------------------- */

.blocsapp-device-mb{
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	display: block;
	width:100%;
	height:auto;
	padding: 3.6% 15% 7.5%;
}
.blocsapp-device-mb img{
	width:100%;
	height:auto;
	margin: 0 auto;
}
.blocsapp-device-mb .ratio::before{
	padding-top: 56.25%;
}
.blocsapp-device-mb .ratio{
	padding-bottom: 8%;
}
/* = MacBook Space Grey
-------------------------------------------------------------- */

.mb-space-grey{
	background-image:url("img/Apple-Macbook-Space-Grey.webp");
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family: "Verdana", "Helvetica", sans-serif;  /* Verdana is designed for screen readability and has wider letter spacing, making it a good choice for small text or dense paragraphs */
	color: #000000;
}
h1,h2,h3,h4,h5,h6.oss-title{
            text-align: center;  /* Centers the title horizontally */
            color: #000000;      
            font-size: 36px;    
            margin-top: 50px;    /* Optional, adjusts the spacing above the title */
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.container{
	max-width:1140px;
}

/* IMAGES WITH CLASSES to prevent "Refused to apply inline style because it violates the following Content Security Policy directive" on F12 Chrome */
.logo-container img {
    max-width: 100%; /* Keeps the image responsive */
    width: 300px;
    height: auto;  
    display: block;  /* Prevents inline space */
    margin: 0 auto; 
}
.center-image-container {
    position: relative; /* Keeps the text positioned correctly */
    text-align: center; /* Centers the image horizontally */
    padding: 10px;      /* Adds space between the image and text */
}
.center-image-container img {
    max-width: 100%; 
    height: auto;    /* Maintains aspect ratio */
    display: block; 
    margin: 0 auto;  /* Centers the image inside the container */
}

.image-class1 {
    max-width: 100%;
    height: auto;
}
.image-class11 {
    max-width: 100%;
    height: auto;
}
.image-class111 {
    max-width: 100%;
    height: auto;
}
.image-class2 {
    width: 650px;
    height: 400px;
}
.image-class3 {
    width: 1px;
    height: 1px;
}
	
.page-text {
    margin-top: 20px; /* Ensures text is below the image */
    overflow-wrap: break-word; /* Prevents long words from breaking the layout */
    text-align: justify; /* Optional: Makes the text look cleaner */
    color: #000000;
}
.hero-header-text{
	font-size:150px;
	font-weight:bold;
}
.hero-subheader{
	font-size:35px;
	font-weight:normal;
}
.text-blue-gradient{
	background-clip:text!important;
	-webkit-background-clip:text!important;
	background:linear-gradient(150deg, #0557FA 0%, #FA4002 100%);  /* Previous blue #0051C3 and previous orange #FF6633 */
	color:transparent!important;
}
.feature-col-mt{
	margin-top:29px;
}
.hero-first-col-mb{
	margin-bottom:30px;
}

.nav-link {
  color: #000000!important;         
  font-family: "Verdana", "Helvetica", sans-serif!important; /* While most systems have Arial, some macOS users may prefer Helvetica, which is similar and often the default sans-serif font on Apple systems */
  font-weight: bold;                 
  text-decoration: none;             /* Remove underline */
  transition: color 0.3s ease;       /* Smooth color transition on hover */
}

.nav-link:hover {
  color: #FF4433!important;             /* Red Orange on hover */
}

.cloudflare-link {
  color: #FFA500!important;        
  font-size: 1.20rem;      
  font-weight: bold;      
  text-decoration: none;  /* Remove underline */
}


/* = Colour
-------------------------------------------------------------- */


/* Text colour styles */

.tc-black{
	color: green !important;
}

/* Button colour styles */

.btn-portland-orange {
    color: #FFFFFF;
    background-color: #FF6633; /* Portland Orange */
    border-radius: 10px; /* Rounded corners */
    padding: 10px 20px;  /* Adjust padding */
} 
	
.btn-portland-orange:hover{
	background:#cc5229!important;
	color:#FFFFFF!important;
}


/* = Bloc Padding Multi Breakpoint
-------------------------------------------------------------- */

@media (min-width: 576px) {
    .bloc-xxl-sm{padding:200px 20px;}
    .bloc-xl-sm{padding:150px 20px;}
    .bloc-lg-sm{padding:100px 20px;}
    .bloc-md-sm{padding:50px 20px;}
    .bloc-sm-sm{padding:20px;}
    .bloc-no-padding-sm{padding:0 20px;}
}
@media (min-width: 768px) {
    .bloc-xxl-md{padding:200px 20px;}
    .bloc-xl-md{padding:150px 20px;}
    .bloc-lg-md{padding:100px 20px;}
    .bloc-md-md{padding:50px 20px;}
    .bloc-sm-md{padding:20px 20px;}
    .bloc-no-padding-md{padding:0 20px;}
}
@media (min-width: 992px) {
    .bloc-xxl-lg{padding:200px 20px;}
    .bloc-xl-lg{padding:150px 20px;}
    .bloc-lg-lg{padding:100px 20px;}
    .bloc-md-lg{padding:50px 20px;}
    .bloc-sm-lg{padding:20px;}
    .bloc-no-padding-lg{padding:0 20px;}
}
@media (min-width: 1200px) {
    .bloc-xxl-xl{padding:200px 20px;}
    .bloc-xl-xl{padding:150px 20px;}
    .bloc-lg-xl{padding:100px 20px;}
    .bloc-md-xl{padding:50px 20px;}
    .bloc-sm-xl{padding:20px;}
    .bloc-no-padding-xl{padding:0 20px;}
}
/* EOF */
